<!--As of 01/07/19 this is pretty much set-->

<!-- <footer>
  <p>Created by: Geordie Young and Mithun Ramesh</p>
  <p>Date of Update: 12/13/18
  <us>Contact information: <a href="mailto:ghyoungiv@gmail.com">
    ghyoungiv@gmail.com</a>.</us>
  <us>Contact information: <a href="mailto:mithunramesh78@gmail.com">
      mithunramesh78@gmail.com</a>.</us>
</footer> %>
-->



<!-- <script>
function startTime() {
  var today = new Date();
  var h = today.getHours();
  var m = today.getMinutes();
  var s = today.getSeconds();
  m = checkTime(m);
  s = checkTime(s);
  document.getElementById('txt').innerHTML =
  h + ":" + m + ":" + s;
  var t = setTimeout(startTime, 500);
}
function checkTime(i) {
  if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
  return i;
}
</script>
</head>

<body onload="startTime()">

<div id="txt"></div>

</body> -->
