<footer>
  <p>Created by: Geordie Young and Mithun Ramesh</p>
  <p>Date of Update: 12/13/18
  <p>Contact information: <a href="mailto:ghyoungiv@gmail.com">
    ghyoungiv@gmail.com</a>.</p>
  <p>Contact information: <a href="mailto:mithunramesh78@gmail.com">
      mithunramesh78@gmail.com</a>.</p>
</footer>
