<header>
  <link rel="stylesheet" href="styles/style.css">
  <h1><a href="/">P, R, S: Showdown</a></h1>

  <div style = text-align:center>
  <div top>
    <a href ="/rules">View Rules</a> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
    <a href ="/stats">View Stats</a> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
    <a href ="/about">About P,R,S: Showdown</a>
  </div>
  <div style = text-align:center>

  <img id ="headPlayerImg" src= "../images/Header_copy.jpg">  <!--We need to design CSS for img-->

<form action="/" method="get">
  <input type="submit" name="Logout" value="Log Out!">
  </form>
    <!--- Need to attach JS, where like based on user name and log out change this -->
</header>
