<!--As of 01/07/19 this is pretty much set-->
<header>
  <h1><a href="/">P, R, S: Showdown</a></h1>
  <a href ="/rules">View Rules</a>
  <a href ="/stats">View Stats</a>
  <a href ="/about">About P,R,S: Showdown</a>
  <img src= "Header_copy.jpg">  <!--We need to design CSS for img-->
  <button id="Login_info" type="button"> Log Out! </button> <!-- Need to design Login for Button -->
    <!--- Need to attach JS, where like based on user name and log out change this -->
</header>
