<!--As of 01/07/19 this is pretty much set-->
<header>
  <link rel="stylesheet" href="styles/style.css">
  <h1><a href="/">P, R, S: Showdown</a></h1>

  <div id = "RuleLink">
    <a href ="/rules">View Rules</a>
  </div>

  <div id = "StatsLink">
    <a href ="/stats">View Stats</a>
  </div>

  <div id = "AboutLink">
    <a href ="/about">About P,R,S: Showdown</a>
  </div>

  <img id ="headPlayerImg" src= "../images/Header_copy.jpg">  <!--We need to design CSS for img-->

<form action="/" method="get">
  <input type="submit" name="Logout" value="Log Out!">
  </form>
    <!--- Need to attach JS, where like based on user name and log out change this -->
</header>
