<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - Index</title>
  <link rel="stylesheet" href="styles/style.css">
 </head>

<body>
  <% include global/header %>


  <div id="feedback">
  </div>
  <div id="enter_name">
    <h2>Welcome to Paper, Rock, Scissors</h2>
    <form action="/login" method="get">
      Please enter your username: <input type="text" id="user_name" name="user_name">
      Please enter your password: <input type="text" id="user_password" name="user_password">
      <button type="submit" id = "enter_name_button"> Log In</button>

    </form>
    <!--ADD CSS TO INDEX.EJS TO WORK WITH AND LOOK BETTER -->

  </div>
  <% include global/footer %>
  <script src="scripts/scripts.js"></script>
 </body>
</html>
