<!--As of 01/07/19 this is pretty much set-->

<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - Rules</title>
  <link rel="stylesheet" href="styles/style.css">
 </head>

<body>
  <% include global/header %>

  <div id="rules">
    <h2>Rules</h2>
    The game of P, R, S is based on trust, skill and determination.
    Each player must:
    <ul>
      <li> In each round of the game, each player must select from one of the three following weapons: Paper, Rock, or Scissors.</li>
      <li> Rock Beats Scissors </li>
      <li> Rock Loses to Paper </li>
      <li> Paper Beats Rock </li>
      <li> Paper Loses to Scissors </li>
      <li> Scissors Beats Paper </li>
      <li> Scissors Loses to Rock </li>
      <li> If you choose the same weapon as your opponent, its a Tie!</li>
    </ul>
    If you would like to read more, follow this link to view some <a href="http://worldrps.com/">official PRS organizations.</a>
    <form action="/playagain" method="Get">
       <input type="submit" name="Play Again" value="Play Again!">
    </form>
  </div>
  <% include global/footer %>
  <script src="scripts/scripts.js"></script>
 </body>
</html>
