<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - Stats</title>
  <link rel="stylesheet" href="styles/style.css">
 </head>
<body>
  <% include global/header %>

  <div id="stats">
    <h2>Stats- ____ games played</h2>
    <table>
      <tr>
        <th class="top_row">Player Name</th>
        <th class="top_row">Paper %</th>
        <th class="top_row">Rock %</th>
        <th class="top_row">Scissors %</th>
        <th class="top_row">Wins %</th>
      </tr>
      <tr>

    <!-- Need to figure out how to call EJS variables in this file to list stats from our dataserver.js--->
        <%for(var i=0;i< users.length;i++)%>
        <th><span class="player_name_span"></span>  </th>
        <td> <%users[i]["Name"]%></td>
        <td> <%users[i]["GamesPlayed"]%></td>
        <td> <%users[i]["GamesWon"]%></td>
        <td> <%users[i]["GamesLost"]%></td>
          <!--need to add GameTied  recognize arithmetic correct w wrong answer. Int problem with data server, you can change it to ParseInt with arithmetic operators  -->
        <td> <%users[i]</td>
      </tr>
      <tr>
        <th> B(r)owser </th>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
    </table>
  </div>
  <% include global/footer %>
  <script src="scripts/scripts.js"></script>
 </body>
</html>
