@import url('https://fonts.googleapis.com/css?family=Oswald:600');

h1 {
  color: #ff0000;
  background-color: #b6c6b8;
  text-align: center;
}

div {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;

  background-color: #f2f2f2;

}
table, th, td {
   border: 1px solid black;
}
.top_row{
  background-color: #000000;
  color: #ffffff;
}
.hidden{
  display: none;
}

.visible{
  display:block;
}

html, body {
  background-color: #b6c6b8;
  font-family: 'Oswald', sans-serif;
  width: 99.3%;
  height: 100%;
  text-shadow: 2px;
}


contactInfo {
  color: black;
  background-color: lightgrey;
  text-align: left;
  text-shadow: 1px 1px lightgrey;
}

#headPlayerImg {
  height: 50%;
  width: 40%;
  border: 10px;
  max-width: 60%;
  height: auto;
  /* transform: rotate(25deg); */
}

#RuleLink {
  text-align: left;
}

#StatsLink {
  text-align: center;
}

#AboutLink {
  text-align: right;
}

#search {
    width: 30em;  height: 5em;
}
